<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Patient Details</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"></head>
    <style>
        .Due {
            background-color: rgb(243, 156, 156);
        }
    </style>
<body>
    <div class="container">
        <div class="navbar navbar-expand bg-dark">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="navbar-brand" href="/physDashboard">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/newTask">Create Patient Task</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="/physLogout">Logout</a>
                </li>
            </ul>
        </div>
        <div class="jumbotron">
                <h1>{{pt.f_name}} {{pt.l_name}}</h1>
                <h3>Create a new patient task</h3>
                <div>
                    {% if messages %}
                    <ul class="messages">    
                        {% for message in messages %}    
                            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
                        {% endfor %}
                    </ul>
                    {% endif %}
                    <form class="row" action="/createTask" method="POST">
                        {% csrf_token %}
                        <input type="hidden" name="pt" value="{{pt.id}}">
                        <div class="col">
                            <p>Task Item:</p>
                            <p class="ml-5">Choose from the list:
                                <select name="taskSelect" id="">
                                    <option value="none" selected disabled hidden> 
                                        Existing Tasks
                                    </option>
                                    {% for task in physTasks %}
                                    <option value="{{task}}">{{task}}</option>
                                    {% endfor %}
                                </select>
                            </p>
                            <p class="ml-5">Or add a new task: <input type="text" name="taskInput"></p>
                        </div>
                        <div class="col">
                            <p>Description:</p>
                            <textarea name="desc" id="" cols="70" rows="5" placeholder="Enter description here"></textarea>
                            <p>Due Date: <input type="date" name="date"></p>
                            <p><button type="Submit">Create Task</button></p>
                        </div>
                    </form>
                </div>
                <div>
                    <h2>Patient Tasks:</h2>
                    <table class="table table-striped">
                        <thead class="thead-dark">
                            <tr>
                                <th scope="col">Status</th>
                                <th scope="col">Due Date</th>
                                <th scope="col">Task Item</th>
                                <th scope="col">Description</th>
                                <th scope="col">Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for task in ptTasks %}
                            <tr>
                                <td class="{{task.status}}"> {{task.status}}</td>
                                <td>{{task.date}}</td>
                                <td>{{task.task}}</td>
                                <td>{{task.desc}}</td>
                                <td>
                                    {% if task.status != "Completed" %}
                                    <p><a href="/complete/{{task.id}}">Completed</a></p>
                                    {% endif %}
                                    <p><a href="/delete/{{task.id}}">Delete</a></p>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</body>
</html>